.wallet {
  width: 1440px;
  max-height: 953px;
  margin: 0 auto;
  display: flex;
  &__connect {
    width: 777px;
    height: 953px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-animation--first {
      animation: itemInFirst 0.5s ease-out forwards;
    }
    &-animation--second {
      animation: itemInSecond 0.7s ease-out forwards;
    }
    &-animation--third {
      animation: itemInThird 0.9s ease-out forwards;
    }
    &-return--link {
      margin-right: auto;
      padding: 45px 0 0 48px;
    }
    &-title {
      padding-top: 33px;
      color: #323142;
      font-size: 35.25px;
      font-weight: 600;
    }
    &-list {
      // padding-top: 106px;
      display: flex;
      flex-direction: column;
      width: 395px;
      height: 482px;
      margin-right: 40px;
      gap: 35px;
      &--item {
        width: 395px;
        height: 86px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 14.47px 20px 28.93px;
        border-radius: 9.64px;
        box-shadow: 5px 10px 50px 0px rgba(0, 0, 0, 0.1);



        &-link {
          display: flex;
          align-items: center;
          &_span1 {
            margin: 0px 14.46640396118164px;
            color: rgb(0, 0, 0);
            font-size: 18.08px;
            font-weight: 600;
          }
        }
        &-next {
          width: 385.76px;
          height: 75.13px;
          border-radius: 15.7px;
          background: rgb(20, 20, 22);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: auto;
          &__link {
            color: #f3f5f6;
            font-size: 17.94px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }
    &-footer {
      width: 681px;
      height: 24px;
      display: flex;
      justify-content: space-between;
      margin-right: 40px;
      margin-top: auto;
      padding-bottom: 48px;
      &--item{
        &-link {
          color: #aaaaaa;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

.wallet__slider-group {
  width: 663px;
  height: 953px;
  background: #000000;
  display: flex;
  align-items: center;
}

.wallet__slider-container {
  max-width: 391px;
  margin: 0 auto;
  padding: 0 20px;
}

.wallet__slider {
  display: flex;
  flex-direction: column;
  &-title {
    width: 381.08px;
    height: 114px;
    color: #ffffff;
    font-size: 47.34px;
    font-weight: 700;
    text-align: center;
  }
  &-text {
    width: 381.08px;
    height: 57px;
    color: #6d6d6d;
    font-size: 16.57px;
    font-weight: 400;
    text-align: center;
  }
}

.wallet__slider-wrapper {
  overflow: hidden;
}

.wallet__slider-inner--wrapper {
  display: flex;
  height: 100%;
  transition: transform;
}

.wallet__slide {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 391px;
  height: 395px;
  font-size: 24px;
  color: #ffffff;
  border-radius: 25px;
}

.wallet__slide:nth-child(1) {
  background: url(../img/nft_photo1.png) no-repeat center center;
  background-size: cover;
}

.wallet__slide:nth-child(2) {
  background: url(../img/nft_photo2.png) no-repeat center center;
  background-size: cover;
}

.wallet__slide:nth-child(3) {
  background: url(../img/nft_photo3.png) no-repeat center center;
  background-size: cover;
}

.wallet__slide:nth-child(4) {
  background: url(../img/nft_photo4.png) no-repeat center center;
  background-size: cover;
}

.wallet__slide:nth-child(5) {
  background: url(../img/nft_photo5.png) no-repeat center center;
  background-size: cover;
}

.wallet__slider-bottom--panel {
  margin: 0 auto;
  width: 182px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 43px;
  padding: 23.67px;
  border-radius: 18.94px;
  box-shadow: 0px 47.34px 37.87px -28.4px rgba(15, 15, 15, 0.12);
  background: #ffffff;
}

.slider__button {
  background-color: #ffffff;
  border: none;
}


.slider__button:not(:disabled):hover,
.slider__button:not(:disabled):focus {
  cursor: pointer;
  // background-color: #000000;
  color: #ffffff;
}


.slider__button:disabled {
  opacity: 0.4;
  pointer-events: none;
  user-select: none;
}


@keyframes itemInFirst {
  from {
    transform: translateX(-100%);
    opacity: 0.1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes itemInSecond {
  from {
    transform: translateX(-100%);
    opacity: 0.1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes itemInThird {
  from {
    transform: translateX(-100%);
    opacity: 0.1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

